body {background-color: rgb(163, 195, 255);}
body {text-align: center;}


h1 
{color: rgb(4, 93, 183);font-family: 'Franklin Gothic Medium'; -webkit-text-stroke: 0%;
h2 {font-style: italic;}
}
h3 
{color: rgb(4, 93, 183);font-family: 'Franklin Gothic Medium'; -webkit-text-stroke: 0%;

}