body {background-color: rgb(163, 195, 255);}
body {text-align: center;}
h1 
{color: rgb(4, 93, 183);}
h1 {font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1 {stroke: rgb(120, 120, 120); stroke-width: 10px;}

